<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   viewBox="0 0 1052.3622 744.09448"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="">
  <defs
     id="defs4">
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter4176"
       x="-0.016799999"
       width="1.0336"
       y="-0.016799999"
       height="1.0336">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="3.7050002"
         id="feGaussianBlur4178" />
    </filter>
  </defs>
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.26772)">
    <g
       id="g4322"
       transform="matrix(0.89462368,0,0,0.89462368,180.94814,208.4615)">
      <g
         id="dua" class="cloud-all" data-name="bush">
        <rect
           transform="matrix(0.43291869,0.43291869,-0.43291869,0.43291869,-119.52308,82.747091)"
           
           height="374.26154"
           width="374.26154"
           id="bayang" />
        <rect
           class="cls-7"
           id="bawah"
           width="229.1377"
           height="229.1377"
           x="247.9772"
           y="95.185211"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="M 108.10431,242.77185 -53.985491,404.86166 270.34873,405.01628 Z"
           class="cls-6"
          />
      </g>
      <g
         id="delapan">
        <rect
           transform="matrix(0.31289758,0.31289758,-0.31289758,0.31289758,247.13734,584.07024)"
           y="-72.484795"
           x="453.16437"
           height="374.26154"
           width="374.26154"
           id="bayang"/>
        <rect
           id="bawah"
           width="165.61223"
           height="165.61223"
           x="785.77643"
           y="203.66954"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="m 411.65798,699.73021 -117.15249,117.15251 234.41675,0.11175 z"/>
      </g>
      <g
         transform="translate(5.7142856,-10)"
         id="lima">
        <rect
           id="bayang"
           width="374.26154"
           height="374.26154"
           x="453.16437"
           y="-72.484795"
           transform="matrix(0.20026239,0.20026239,-0.20026239,0.20026239,421.34394,235.53175)" />
        <rect
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)"
           y="-153.51985"
           x="591.22162"
           height="105.99603"
           width="105.99603"
           id="bawah"/>
        <path

           d="m 526.64132,309.55706 -74.98057,74.98058 150.03267,0.0715 z"
           id="atas"
           inkscape:connector-curvature="0"
           sodipodi:nodetypes="cccc" />
      </g>
      <g
         id="sepuluh">
        <rect
          
           id="bayang"
           width="374.26154"
           height="374.26154"
           x="453.16437"
           y="-72.484795"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <rect
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)"
           y="-78.141655"
           x="447.50751"
           height="374.26154"
           width="374.26154"
           id="bawah"
            />
        <path
          
           d="m 371.7947,261.37609 -264.74902,264.74902 529.75058,0.25254 z"
           id="atas"
           inkscape:connector-curvature="0"
           sodipodi:nodetypes="cccc" />
      </g>
      <g
         id="tujuh">
        <rect
           transform="matrix(0.35721307,0.35721307,-0.35721307,0.35721307,376.70009,437.75747)"
           y="-72.484795"
           x="453.16437"
           height="374.26154"
           width="374.26154"
           id="bayang"
           />
        <rect
         
           id="bawah"
           width="189.06779"
           height="189.06779"
           x="801.97827"
           y="3.6988208"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="M 564.52169,569.79825 430.77695,703.54299 698.394,703.67057 Z"
          />
      </g>
      <g
         id="empat">
        <rect
           transform="matrix(0.31289758,0.31289758,-0.31289758,0.31289758,254.2802,-1.644041)"
           y="-72.484795"
           x="453.16437"
           height="374.26154"
           width="374.26154"
           id="bayang"/>
        <rect
           id="bawah"
           width="165.61223"
           height="165.61223"
           x="376.66461"
           y="-215.54376"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="M 418.80084,114.01592 301.64835,231.16843 536.0651,231.28018 Z" />
      </g>
      <g
         id="tiga">
        <rect
           id="bayang"
           width="374.26154"
           height="374.26154"
           x="453.16437"
           y="-72.484795"
           transform="matrix(0.31289758,0.31289758,-0.31289758,0.31289758,88.565916,68.355959)" />
        <rect
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)"
           y="-48.868591"
           x="308.98441"
           height="165.61223"
           width="165.61223"
           id="bawah"/>
        <path

           d="m 253.08655,184.01592 -117.15249,117.15251 234.41675,0.11175 z"
           id="atas"
           inkscape:connector-curvature="0"
           sodipodi:nodetypes="cccc" />
      </g>
      <g
         id="satu">
        <rect
           transform="matrix(0.20026239,0.20026239,-0.20026239,0.20026239,-52.941775,85.53175)"
           y="-72.484795"
           x="453.16437"
           height="374.26154"
           width="374.26154"
           id="bayang" />
        <rect
           id="bawah"
           width="105.99603"
           height="105.99603"
           x="149.78496"
           y="75.784775"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="m 52.355605,159.55706 -74.98057,74.98058 150.032675,0.0715 z" />
      </g>
      <g
         transform="translate(-7.1428571,18.571429)"
         id="enam">
        <rect
           id="bayang"
           width="374.26154"
           height="374.26154"
           x="453.16437"
           y="-72.484795"
           transform="matrix(0.43291869,0.43291869,-0.43291869,0.43291869,443.33406,194.17566)" />
        <rect
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)"
           y="-224.02296"
           x="724.76917"
           height="229.1377"
           width="229.1377"
           id="bawah"/>
        <path
           d="m 670.96145,354.20042 -162.0898,162.08981 324.33422,0.15462 z"
           id="atas"
           inkscape:connector-curvature="0"
           sodipodi:nodetypes="cccc" />
      </g>
      <g
         transform="translate(-5.7142828,2.8571471)"
         id="sembilan">
        <rect
           transform="matrix(0.31289758,0.31289758,-0.31289758,0.31289758,-27.148372,421.21309)"
           y="-72.484795"
           x="453.16437"
           height="374.26154"
           width="374.26154"
           id="bayang"/>
        <rect
           id="bawah"
           width="165.61223"
           height="165.61223"
           x="476.66968"
           y="282.46146"
           transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)" />
        <path
           sodipodi:nodetypes="cccc"
           inkscape:connector-curvature="0"
           id="atas"
           d="M 137.37226,536.87306 20.219778,654.02557 254.63652,654.13732 Z" />
      </g>
    </g>
  </g>
</svg>
