
.anime{
	@include span(12 nest); 
	height: 100%; 
	position:fixed;
	top:0;
}
#dua, #delapan{
	#atas{
		opacity:1;
		fill:#be81f7;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1

	}
	#bawah{
		opacity:1;
		fill:#4b088a;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}

}
#empat, #sembilan{
	#atas{
		opacity:1;
		fill:#f7819f;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1

	}
	#bawah{
		opacity:1;
		fill:#8a0839;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}
	
}

#tiga, #lima{
	#atas{
		opacity:1;
		fill:#81f7f3;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1

	}
	#bawah{
		opacity:1;
		fill:#007976;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}
	
}
#enam{
	#atas{
		opacity:1;
		fill:#f7ec81;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1

	}
	#bawah{
		opacity:1;
		fill:#8a8808;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}
	
}
#satu, #tujuh{
	#atas{
		opacity:1;
		fill:#81f781;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1

	}
	#bawah{
		opacity:1;
		fill:#04b404;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}
	
}


#sepuluh{
	#atas{
		opacity:1;
		fill:#f781f3;
		fill-opacity:1;
		stroke:none;
		stroke-width:40.45800018;
		stroke-miterlimit:50.0999999;
		stroke-dasharray:none;
		stroke-opacity:1
	}
	#bawah{
		opacity:1;
		fill:#b404ae;
		fill-opacity:1;
		stroke:none;
		stroke-width:4.45800018;
		stroke-miterlimit:5.0999999;
		stroke-dasharray:none;
		stroke-opacity:1;
	}
	
	&:hover{
		#atas{
			transition: 1s;
			stroke-width:10.45800018;
			fill:#b404ae;
		}
		#bawah{
			fill:#f781f3;
			transition: 1s;
		}
		#bayang{
			fill:white;
			stroke-width:100.45800018;
			transition: 2s;
		}
	}
}

#bayang{
	opacity:0.82599996;
	fill:#0f3259;
	fill-opacity:1;
	stroke:none;
	stroke-width:4.45800018;
	stroke-miterlimit:5.0999999;
	stroke-dasharray:none;
	stroke-opacity:1;
	filter:url(#filter4176);
	y:-72.484795;
    x:453.16437;
}
.cls-6 {
  fill: #c2e4d8;
  // z-index: 99;
}
.cls-7 {
  fill: #aedccd;
  // z-index: 98;
}




#top-image {
	background:url('http://wallpapercraft.net/wp-content/uploads/2016/10/Blue-square-pattern-photos-2560x1600.jpg') -25px -50px;
	position:fixed ;
	top:0;
	width:100%;
	z-index:0;
	height:100%;
	 background-size: calc(100% + 50px);
}