.wrap-bo{
	@include span(12);
	height:100vh;
	background: black;
	padding-left:0;
	padding-right:0;
	.cont{
		@include span(10);
		margin-left: span(1);
		margin-right: span(1);
		height: 90%;
		margin-top:50px;
		margin-bottom:50px; 
		position: fixed;
		border-radius: 10px;
		background: black;
		box-shadow: 0px 0px 40px aqua;
		padding-left:0;
		padding-right:0;
		.navi{
			@include span(12);
			height: 50px;
			background: aqua;
			border-top:1px solid black;
			border-radius: 10px 10px 0 0;
			ul{
				@include span(6);
				float: right;
				li{
					@include span(3);
					list-style-type: none;
					display: inline-block;
					text-align: center;
					height: 50px;
					margin-top:-17px; 
					line-height: 50px;
					cursor: pointer;
					&:hover{
						background: black;
						color:aqua;
					}

				}
			}

		}
		.kamar{

			min-height: 250px;
		}
		.tamu{
			display: none;
			min-height: 250px;
		}
		.booking{
			display: none;
			min-height: 250px;
		}
		h2{
			text-align: center;
			color:aqua;
		}
		form{
			@include span(12);
			.in{
				@include span(12)
				input{
					@include span(1 of 6);
					
					height: 30px;
					border-radius: 2px;
					border:1px solid white;
					margin:span(0.2);
				}
				select{
					@include span(1 of 6);
					height: 30px;
					border-radius: 2px;
					border:1px solid white;
					margin:span(0.2);
				}

			}
			.tombol{
				@include span(12);
				button{
					@include span(1 of 8);
					height: 30px;
					margin-top: 5px;
					border-radius: 2px;
					
					margin:span(0.14);
				}
				.sub{
					background: #0579ff;
					border:1px solid #0579ff;
				}
				.up{
					background: #05ff47;
					border:1px solid #05ff47;
				}
				.res{
					background: #ff0a3b;
					border:1px solid #ff0a3b;
				}
			}
		}
		.viewer{
			@include span(12);
			min-height: 67vh;
			background: aqua;
			border: 1px solid black;
			table{
				@include span(12);
				tr{
					border-bottom: 3px solid black;
					@include span(12);
					th{
						@include span(1 of 5);
						height: 25px;
					}
					td{
						@include span(1 of 5);
						line-height: 30px;
						button{
							@include span(5);
							height: 30px;
							margin-top: 5px;
							border-radius: 2px;
							margin: span(0.1);
						
						}
						.ed{
							background: #05ff47;
							border:1px solid #05ff47;
						}
						.re{
							background: #ff0a3b;
							border:1px solid #ff0a3b;
						}
					}
					
				}
			}
		}
	}
}