@import url('https://fonts.googleapis.com/css?family=Oswald');
.wrap-distro{
	@include span(12);
	background: black;
	height:2000px;
	padding-left:0;
	padding-right:0;
	.header{
		@include span(12);
		height: 60px;
		background: black;
		position: fixed;
		z-index: 99;
		.navi{
			@include container(1000px);
			height: 60px;
			.logo{
				height: 100px;
				@include span(2);
				z-index: 99;
				img{
					height: 100px;
				}
			}
			.nav{
				@include span(10);
				ul{
					@include span(12);
					
					margin-top:0px; 
					border-left: 2px dashed white;
					border-right: 2px dashed white;
					li{
						list-style-type: none;
						display: inline-block;
						color:#eaeaea;
						font-family: 'Oswald', sans-serif;
						height: 40px;
						line-height: 40px;
						text-align: center;
						padding: 10px;
						min-width: 81px;
						transition: 0.4s;
						margin: -3px;
						position:relative;
						cursor: pointer;
						.product{
							width: 817px;
							margin-left:-15px; 
							background: #eaeaea;
							position:fixed;
							top:-500px;
							transition: 3s;
							li{
								@include span(1 of 6);
								color:black;
								height: 200px;
								// margin: 10px;
								cursor: pointer;
								border-bottom:1px solid black;
								ul{
									padding:0;
									width: 140px;
									border-left: 2px dashed #eaeaea;
									border-right: 2px dashed #eaeaea;
									margin-top: -10px;
									height: 150px;

									li{
										padding:0;
										margin: 0;
										font-size: 15px;
										height: 30px;
										cursor: pointer;
										text-align: left;
										border-bottom: 1px solid grey;
										width: 140px;
										&:hover{
											color: grey;
											background: none;
										}

									}
								}

							}
						}
						.login{
							background: #eaeaea;
							width: 206px;
							margin-left: -10px;
							border-bottom:1px solid black;
							color: black;
							position:fixed;
							top:-500px;
							transition: 1s;
							li{
								color: black;
								
								input{
									padding:5px;
								}
								button{
									width: 100px;
									background: black;
									color:#eaeaea;
								}
								&:hover{
									background: none;
								}
							}
						}
						&:hover{
							background: #eaeaea;
							color: black;
							.product{
								display: block;
								position:fixed;
								top:50px;
							}
							.login{
								display: block;
								position:fixed;
								top:50px;
							}
						}
					}
				}
			}
		}
	}

	.slide-so{
		@include span(12);
		position: relative;
		margin: auto;
		margin-top: 60px;
		z-index: 0;
		img{
			height: 400px;
			cursor: move;
		}
		.mySlides {
			display:none;
		}
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  &:hover{
		  	 background-color: rgba(0,0,0,0.8);
		  }
		}
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}
	}

	.content-pro{
		@include span(12);
		height: 500px;
		background: white;
		padding:0;
		font-family: 'Oswald', sans-serif;
		z-index: 0;
		cursor: pointer;
		.kanan{
			@include span(6);
			background: black;
			height: 500px;
			color:#eaeaea;
			position:relative;
			padding:0;
			.depan{
				transition: 1s;

				h2{
					padding-left:100px;
				}
				hr{
					margin-top: 40px;
					background: white;
					-webkit-transform: rotate(-10deg);
				}
				h3{
					padding-left:200px;
					-webkit-transform: rotate(-10deg);
				}
				h1{
					right: 50px;
					position:absolute;
					bottom:0;
				}
				
			}
			.belakang{
				@include span(12);
				opacity: 0;
				top:0;
				height: 500px;
				text-align: center;
				position:absolute;
				padding-top:150px;
				transition: 1s;
				button{
					width: 100px;
					color: black;
				}
				
			}
			&:hover{
				z-index: 0;
				.depan{
					opacity: 0;
				}
				.belakang{
					opacity: 1;
				}
			}
		}
		.kiri{
			@include span(6);
			padding:0;
			background: black;
			color:#eaeaea;
			h2{
					padding-left:100px;
				}
			.sale{
				@include span(6);
				height: 250px;
				position:relative;
				hr{
					margin-right:-80px;
				}
				
				.depan{
					transition: 1s;
					.triangles{
						float: right;
					}
					.triangle{
						margin:10px;
					}
					.arrow-up{
						width: 0;
						height:0;
						border-left: 50px solid transparent;
						border-right: 50px solid transparent;
						border-bottom: 50px solid white;
					}
				}
				.belakang{
					@include span(12);
					opacity: 0;
					top:0;
					height: 250px;
					text-align: center;
					position:absolute;
					padding-top:50px;
					transition: 0.5s;
					button{
						width: 100px;
						color: black;
					}
				}
				&:hover{
					z-index: 0;
					.depan{
						opacity: 0;
					}
					.belakang{
						opacity: 1;
					}
				}
			}
			.populer{
				@include span(6);
				height: 250px;
				position:relative;
				.depan{
					transition: 1s;
					.ghor{
						height: 250px;
						width: 2px;
						background: #eaeaea;
						margin-top: -50px;
					}
					.bulat{
						height: 30px;
						width: 30px;
						border-radius: 100%;
						background: white;
						right:span(6);
						top:span(6);
						position: absolute;
					}
				}
				.belakang{
					@include span(12);
					opacity: 0;
					top:0;
					height: 250px;
					text-align: center;
					position:absolute;
					padding-top:50px;
					transition: 0.5s;
					button{
						width: 100px;
						color: black;
					}
				}
				&:hover{
					z-index: 0;
					.depan{
						opacity: 0;
					}
					.belakang{
						opacity: 1;
					}
				}
			}
			.galeri{
				@include span(6);
				height: 250px;
				position:relative;
				.depan{
					transition: 1s;
					.bulat{
						height: 40px;
						width: 40px;
						border-radius: 100%;
						border: 3px solid white;
						right:span(6);
						top:span(6);
						display: inline-block;
						margin-left: -20px;
					}
					hr{
						width: 130%;
						position: absolute;
						bottom:10px;
					}
				}
				.belakang{
					@include span(12);
					opacity: 0;
					top:0;
					height: 250px;
					text-align: center;
					position:absolute;
					padding-top:50px;
					transition: 0.5s;
					button{
						width: 100px;
						color: black;
					}
				}
				&:hover{
					z-index: 0;
					.depan{
						opacity: 0;
					}
					.belakang{
						opacity: 1;
					}
				}

			}
			.blog{
				@include span(6);
				height: 250px;
				position:relative;
				.depan{
					transition: 1s;
					.ghor{
						height: 240px;
						width: 2px;
						background: #eaeaea;
						margin-top: -50px;
					}
					.glurus{
						height: 2px;
						width: 400px;
						background: #eaeaea;
						position: absolute;
						top:70px;
						margin-left: -100px;
					}
				}
				.belakang{
					@include span(12);
					opacity: 0;
					top:0;
					height: 250px;
					text-align: center;
					position:absolute;
					padding-top:50px;
					transition: 0.5s;
					button{
						width: 100px;
						color: black;
					}
				}
				&:hover{
					z-index: 0;
					.depan{
						opacity: 0;
					}
					.belakang{
						opacity: 1;
					}
				}
			}
			
			
		}
	}

	.teks{
		@include span(12);
		margin-top: 20px;

	}
	.icon-sosmed{
		position:fixed;
		color: black;
		top:50vh;
		cursor: pointer;

		.kotak-fb{
			height: 50px;
			width: 50px;
			background: #eaeaea;
			text-align: center;
			line-height: 60px;
			transition:1s;
			.sosmed{
				width: 200px;
				height: 50px;
				background: black;
				text-align: left;
				padding-left:20px;
				position:fixed;
				left: -300px;
				top:50vh;
				font-family: 'Oswald', sans-serif;
				border:1px solid #eaeaea;
				color: #eaeaea;
				transition:1s;
			}
			&:hover{
				background: black;
				.sosmed{
					display: block;
					position:fixed;
					left: 0px;
				}
			}
		}
		.kotak-tw{
			height: 50px;
			width: 50px;
			background: #eaeaea;
			text-align: center;
			line-height: 60px;
			margin-top: 5px;
			transition:1s;
			.sosmed{
				width: 200px;
				height: 50px;
				background: black;
				text-align: left;
				padding-left:20px;
				position:fixed;
				left: -300px;
				top:50vh;
				font-family: 'Oswald', sans-serif;
				border:1px solid #eaeaea;
				color: #eaeaea;
				transition:1s;
				margin-top: 55px;
			}
			&:hover{
				background: black;
				.sosmed{
					display: block;
					position:fixed;
					left: 0px;
				}
			}
		}
		.kotak-in{
			height: 50px;
			width: 50px;
			background: #eaeaea;
			text-align: center;
			line-height: 60px;
			margin-top: 5px;
			transition:1s;
			.sosmed{
				width: 200px;
				height: 50px;
				background: black;
				text-align: left;
				padding-left:20px;
				position:fixed;
				left: -300px;
				top:50vh;
				font-family: 'Oswald', sans-serif;
				border:1px solid #eaeaea;
				color: #eaeaea;
				transition:1s;
				margin-top: 110px;
			}
			&:hover{
				background: black;
				.sosmed{
					display: block;
					position:fixed;
					left: 0px;
				}
			}
		}
	}
}