@import url('https://fonts.googleapis.com/css?family=Nova+Flat');
.wrap-o{
	@include span(12);
	height:100vh;
	padding-left:0;
	padding-right:0;
	font-family: 'Nova Flat', cursive;
	.isi-o{
		@include container(200px);
		height: 50vh;
		margin-top: 45vh;
		.btn{
			width: 200px;
			height: 60px;
			background-color:black;
			color:white;
			border-radius: 10px;
			font-size: 25px;
			border: 0 solid;
  			box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.57);
  			outline: 1px solid;
  			outline-color: rgba(255, 255, 255, .5);
  			outline-offset: 0px;
  			text-shadow: none;
  			transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
			&:hover{
				border: 1px solid;
  				box-shadow: inset 0 0 20px  rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  				outline-color: rgba(0, 0, 0, 0.39);
  				outline-offset: 15px;
  				text-shadow: 1px 1px 2px #427388; 
			}
		}
	}
	.pop-up{
		@include span(12);
		display: none;
		top:0;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.86);
		.isi-up{
			@include container(300px);
			height: 100%;
			text-align: center;
			top: 10px;
			margin-top: 40vh;
			ul{
				padding:0;
				li{
					list-style-type: none;
					margin: 10px;
					border-bottom: 2px solid white;
					padding-bottom:2px;
					a{
						text-decoration: none;
						color:white;

					}
					&:hover{
						background: white;
						a{
							color:black;
						}
					}
				}
			}
		}
	}
}