.wraper{
	@include span(12);
	background: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg') no-repeat center /cover fixed; 
	height:2640px;
	padding-left:0;
	padding-right:0;
	
	.header-do{
		@include span(12);
		height: 50px;
		background: black;
		border-bottom:3px solid  #c9a446;
		position: fixed;
		img{
			float: right;
			height: 50px;
		}
		.navi{
			@include container(1200px);
			margin-top:-20px; 
			height: 50px;
			color: #c9a446;
			ul{
				padding:0;
				li{
					display: inline-block;
					list-style-type: none;
					font-size: 20px;
					margin:2px;
					min-width: 152px;
					text-align: center;
					cursor: pointer;
					height: 50px;
					line-height: 50px;
					position:relative;
					ul{
						display: none;
						position:absolute;
						li{
							min-width: 149px;
							margin-left: 0;
							color:#c9a446;
							border:1px solid #c9a446;
						}
					}
					&:hover{
						background: #c9a446;
						color: black;
						ul{
							display: block;
						}
					}
				}
			}
		}
		
	}
	.logo-do{
		@include container(300px);
		height: 200px;
		margin-top: 60px;
		text-align: center;
		color: #c9a446;
		img{
			height: 100px;
		}

	}
	.popup-do{
		@include span(12);
		display: none;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.73);
		position:fixed;
		top:50px;
		color: #c9a446;
		.detail{
			@include container(1200px);
			text-align: center;
			.form{
				@include container(500px);
				label{
					@include span(4)
					margin: 1px;
					text-align: left;
				}
				input select{
					@include span(8);
				}
				button{
					margin-top: 10px;
					height: 30px;
					min-width: 70px;
					color: black;
				}

			}
		}


	}
	.isi-do{
		@include container(1200px);
		color: #c9a446;
		text-align: center;

		div{
			@include span(1 of 3);
			height: 500px;
			border: 10px solid black;
			padding:0;
			box-shadow: 0 0 3px white;
			cursor: pointer;
			img{
				width: 100%;
				height: 70%;

			}
			&:hover{
				background: #c9a446;
				color:black;
			}
		}
	}
	.wid{
		@include span(12);
		margin-top:20px; 

	}
	.footer-do{
		@include span(12);
		height: 70px;
		background: black;
		border-top:3px solid  #c9a446;
		color: #c9a446;
		font-size: 20px;
		position:fixed;
		bottom:0;
		text-align: center;
			i{
				min-width: 50px;
				margin: 2px;
				cursor: pointer;
				&:hover{
					color: white;
				}
			}
	
		
	}
}